@font-face {
	font-family: ubuntu;
	src: url(fonts/Ubuntu-Regular.ttf);
}
@font-face {
	font-family: ubuntu;
	src: url(fonts/Ubuntu-Bold.ttf);
	font-weight: bold;
}
@font-face {
	font-family: norse-bold;
	src: url(fonts/Norse-Bold.otf);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #f9fafb;
	font-family: ubuntu, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
}

.main {
	display: flex;
	height: 100%;
	align-items: stretch;
	min-height: 100vh;
}

.img-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1 0 auto;
	width: 35vw;
	background: url(images/background.jpg);
	background-size: cover;
	background-position: center;
}

#logo {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	padding: 16px;
	margin-top: auto;
	margin-bottom: auto;
	color: white;
	background-color: rgba(0, 0, 0, .5);
	font-family: norse-bold;
	font-size: 72px;
}

#logo img {
	height: 160px;
}

.credit {
	color: grey;
	margin-top: auto;
	margin-bottom: 10px;
}

.credit a {
	color: lightgrey;
}

.form-container {
	display: flex;
	flex-direction: column;
}

.form-container > p {
	padding: 24px 35px 42px 24px;
	font-size: 22px;
	font-weight: 600;
}

form {
	padding: 24px;
	background-color: white;
}

form h6 {
	font-size: 28px;
}

.inputs-container {
	display: flex;
	flex-wrap: wrap;
	gap: 42px;
	margin-top: 32px;
}
.inputs-container div {
	width: 45%;
}

.inputs-container input {
	border-style: none;
	border-bottom: 2px solid #e5e7eb;
	outline: none;
	padding: 4px 2px 1px 2px;
	width: 100%;
	font-size: 16px;
}

.inputs-container input:focus {
	border-bottom-color: #317dad;
}

.inputs-container span {
	position: relative;
	bottom: 24px;
	pointer-events: none;
	transition: 0.25s;
	opacity: 0.5;
}

.inputs-container input:focus ~ span,
.inputs-container input:valid ~ span {
	bottom: 42px;
	font-size: 12px;
	opacity: 1;
}

span.required-field {
	color: red;
	font-weight: bold;
	opacity: 1;
}

.btn-container {
	padding: 42px 24px;
}

button {
	border-style: solid;
	border-radius: 10px;
	border-color: #317dad;
	width: 180px;
	padding: 12px 18px;
	background-color: transparent;
	font-size: 16px;
	font-weight: 600;
	transition: transform 100ms ease-in-out;
}

button:hover {
	color: white;
	background-color: #317dad;
	transform: scale(1.03);
	cursor: pointer;
}

.btn-container a {
	color: #317dad;
	font-weight: bold;
	text-decoration: none;
}

footer {
	display: flex;
	margin-top: auto;
	justify-content: center;
	align-items: center;
	gap: 4px;
	background-color: gray;
}

footer a {
	text-decoration: none;
	color: white;
}

footer img {
	width: 28px;
	height: 28px;
	margin-top: 3px;
}

@media (max-width: 950px) {
	.main {
		flex-direction: column;
	}
	.img-container {
		height: 50vh;
		width: 100%;
	}
}